@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white;
}

/* Hide arrows on number inputs */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.bg-gradient {
	background-image: linear-gradient(to bottom right, #AD8B73, #E3CAA5);
}